$primary: #0069B4;
$info: #F3F1B0;
$danger: #EB212E;
$sucess: #79AA70;
$warning: #d6a26a;
body, html {
  overflow-x: hidden;
  overflow-y: auto;
}

.v-application--wrap {
  min-height: 1vh !important;
}

.fc {
  min-height: 80vh;
}

#map-wrapper {
  margin: 0;
  padding: 0;
}

#map {
  height: 80vh;
  width: 100%;
  cursor: zoom-in;
}

#logo {
  height: 15%;
  width: 15%;
  margin-left: 1vw;
  margin-right: 1vw;
}

.table {
  line-height: 1;
  font-weight: 200;
  border-collapse: initial;
}

.table td {
  padding: 0.3rem 0 0.3rem 0;
  border-top: 1px dotted #dee2e6;
  cursor: cell;
}

.vuecal__cell-split .split-label {
  color: black;
  font-size: 12px;
}


.vuecal__menu, .vuecal__cell-events-count {
  background-color: #0069B4;
}

.vuecal__title-bar {
  background-color: #0094FF;
}

.lunch{
  background-color: rgba(237, 237, 240, 0.7);
}

.unplanned-event{
  background-color: #dee2e6;
  border: #333333;
  border-radius: 6px;
}

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';